<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\Quote\Address\ToOrderAddress" type="Shellpea\CDEK\Model\Quote\Address\ToOrderAddress"/>
    <preference for="Shellpea\CDEK\Api\ShippingInformationInterface" type="Shellpea\CDEK\Model\Shipping\ShippingInformation" />
    <preference for="Shellpea\CDEK\Api\GuestShippingInformationInterface" type="Shellpea\CDEK\Model\Shipping\GuestShippingInformation" />
</config>
